//color overview

$MagentaPink: #FF79DA;
$Mint: #2e8769;
$greypaint: #7a7a7a;
$purplelight1: #8f54d6;
$purple: #9356DC;
$opalinegreen: #99E2D0;
$mauve1: #cc74cc;
$frostygreen1: #90d6c5;
$nymphpink1: #ede8ed;
$charcoalgrey: #403f3f;
$palewhite: #f0f0f0;

//color variables

$darkgray: $charcoalgrey;
$mauve: $mauve1;
$primary: $purple;
$green: $Mint;
$secondary: $MagentaPink;
$frostygreen: $frostygreen1;
$grey: $greypaint;
$nymphpink: $nymphpink1;
$tertiary: $opalinegreen;
$purplelight: $purplelight1;
$white: $palewhite;






