.order__button {
    display: flex;
    align-items: center; 
    border: none;
    margin: 30px auto;

    &:hover {
        span {
            background: linear-gradient(0.45turn,rgb(208, 145, 212) 66%, rgb(173, 119, 218) 90%);
        }
    }

    span {
        background: linear-gradient(0.45turn,rgb(210, 132, 216) 66%, rgb(173, 119, 218) 90%);
        border-radius: 20px;
        box-shadow: 3px 4px 9px grey;
        color: white;
        font-size: 17px;
        padding: 18px 32px;
    }
}